$font-sizes: 10px, 12px, 13px, 14px, 18px, 24px, 32px, 36px, 48px, 96px, 288px;
@each $size in $font-sizes {
  .font-size-#{$size} {
    font-size: $size;
  }
}

$font-weight: 100, 200, 300, 400, 500, 600, 700;
@each $weight in $font-weight {
  .font-weight-#{$weight} {
    font-weight: $weight;
  }
}

.font-color-primary {
  color: $primary-color;
}

.font-color-principal {
  color: $font-color-principal;
}