$primary-color: #ff6060;
$font-color-principal: #ffffff;
$overimage: grey;
$background-footer: black;
$background-location: #e5e5e5;
$background-gradient-down: #803131;
$background-card-grey: #f6f6f6;
$background-gradient: linear-gradient(
  to bottom,
  $primary-color,
  $background-gradient-down
);


