.header-sheet {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.la-location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.localisation-location {
  margin: 0.5em 0;
}

.tags-location {
  display: flex;
  flex-wrap: wrap;
}

.description-equipments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & h3 {
    margin: 0;
  }
}

.host-rating-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.rating-location img {
  width: 15px;
  margin-right: 0.4em;
}

.host-location {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & img {
    border-radius: 50%;
    width: 40px;
  }
  & p {
    text-align: end;
    padding-right: 10px;
  }
}

h1 {
  line-height: 1.5rem;
}
