footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $background-footer;
  height: 209px;
  & p {
    margin-bottom: 25px;
    color: white;
  }
  & img {
    width: 122px;
  }
}
