header {
  nav {
    li {
      @include media-large {
        font-size: 24px;
      }
    }
  }
}

.nav-a-propos-margin {
  @include media-large {
    margin-left: 40px;
  }
}

.case {
  @include media-large {
    text-transform: capitalize;
  }
}
