header {
  padding: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & nav {
    display: flexbox;
    & ul {
      display: flex;
      margin: 0;
      list-style: none;
    }
    li {
      white-space: nowrap;
      font-size: 12px;
    }
  }
  & img {
    width: 145px;
  }
}
.nav-a-propos-margin {
  margin-left: 10px;
}

.case {
    text-transform: uppercase;
}
