.hook {
  @include media-large {
    height: 150px;
  }
  & img {
    @include media-large {
      height: 150px;
    }
  }
  & p {
    @include media-large {
      justify-content: center;
    }
  }
}
